*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
main{
    width: 100%;
    height: 100%;
}
section{
    width: 70%;
    background-color: chocolate;
    padding: 10px;
    margin: 0 auto;
}
h1{
    color: cadetblue;
    font-size: 3rem;
    text-align: center;
}
p{
    color: chartreuse;
    font-size: 1.4rem;
    text-align: center;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border:0;
    color: white;
    background-color: brown;
}
article{
    text-align: center;
    margin-top: 20px;
}